<!--{{(details?.Taille?.[0]?.tailleboisson?.[0]?.boisson?.image)}}-->
<ng-container *ngIf="produit$|async as detailProduit">
<div class="container gb border -3">
  <h2 class="df"  >{{(detailProduit.produit.nom)}}</h2>
  
  <div class="detail d-flex" >
   <!--<ng-container *ngIf="details?.menu?.type=='menu'">
    <img class="image border border-2" style="height: 20em;" src="data:image/png;base64,{{(details?.menu?.image)}}" alt="">
  </ng-container>-->
  <ng-container >
    <img class="image" style="height: 20em;" src="data:image/png;base64,{{detailProduit.produit.image}}" alt="ff">
  </ng-container>

  <ng-container >
      <div  class="titre border- border-2">
        <h5 class="df">Prix:  {{detailProduit.produit.prix}} FCFA</h5>  
        <h5 class="df">Description :</h5>
        
          <p class="df ">{{detailProduit.produit.description}}</p> 
      </div>
  </ng-container>
      
  
  <ng-container *ngIf="detailProduit.produit['@type']=='Menu'">
          <div style="border: 1px solid rgb(18, 13, 13);" id="vb" class="">
              <div  class="cs" >
                  
                    
                <ng-container *ngFor="let item of detailProduit.produit.menuburger">
                  <div id="cvde" class="card m-2 "  >
                      <table class="table table-striped ">
                          <thead>
                            <tr>
                  
                              <th scope="col">Image</th>
                              <th scope="col">NomProduit</th>
                              <th scope="col">Quantite</th>
                              <th scope="col">Prix </th>
                             
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr >                             
                              <th class="border border-right-3 d-flex justify-content-center" scope="row text-center"><img class="  " style="height: 4em; width:3em" src="data:image/png;base64,{{item.burger.image}}" alt=""></th>
                              <td >{{item.burger.nom}}</td>
                              <td>   
                                    <h5>{{item.quentity}}</h5>
                              </td>
                              <td>
                                <h5>{{item.burger.prix}} FCFA</h5></td>
                              <td><a class="text-decoration-none" href="">Details</a> </td>
                            </tr>
                            <tr>
                                                  
                          </tbody>
                      </table>
                     
                       
                    </div>
                    </ng-container>
              
              
              



















              </div>

          </div>
        </ng-container>
      
      

  </div>
  <div class="btne mt-2">
      <div id="df" class="def-number-input number-input safari_only">
    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus ">-</button>
    
    <input #qte (change)="changeFn($event)" class="quantity text-center" min="1"  name="quantity" value="1" type="number">
    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
</div>
     
<button type="button"(click)="product(detailProduit.produit);successMessage()" class="bb btn btn-primary">Ajouter dans <i class="fa-solid fa-cart-shopping"></i></button>
  </div>
  <div  class="complements mt-2 ">
      
      
     
     
  <div  style="border: 1px solid rgb(18, 16, 16); height:30em;" class="d-flex ">
    <ng-container *ngIf="detailProduit.produit['@type']=='Menu'">
      <div  class="c  border border-2 ">
    
         <!-- <app-tailleboi *ngIf="(details?.menu?.menuportionfriet) as frit" [menufritee]="frit"></app-tailleboi>-->
                    
         <ng-container *ngFor="let frit of detailProduit.produit.menuportionfriet">
          <div id="cvd" class="card m-2 bg-red" >
              <h5></h5>
              <img id="image" style="width: 10em;"  src="data:image/png;base64,{{frit.portionFrite.image}}" class="card-img-top" alt="..cc.">
          </div>
        </ng-container>
      </div>
    </ng-container>
      <div  >
        <ng-container *ngIf="detailProduit.produit['@type']=='Menu'" >
          <div   class="cc d-flex justify-content-around flex-wrap  border border-2" >
            <ng-container *ngFor="let menutai of detailProduit.produit.menutaille">
          <div class="taille">
            <h4>{{menutai?.taille.libelle}}</h4>
            quantité max   :  {{menutai.quantity}}
          </div>
              
              <div   class="card " >
                <div id="df" class="def-number-input number-input safari_only" *ngFor="let taile of menutai.taille.tailleboisson">
                  <img class="image" style="height: 6em;" src="data:image/png;base64,{{taile.boisson.image}}" class="card-img-top" alt="...">
                  <h4 class="text-center"></h4>
                    <input #boisson type="checkbox" (change)="onAddBoissonMenu(boisson)" >
                    <button  onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus ">-</button>
                    <input class="quantity text-center" min="1" name="quantity" max="{{menutai?.quantity}}" value="{{menutai?.quantity}}" readonly  type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                <hr>
                  </div>
                <!--<ng-container *ngFor="let taille of menutai?.taille?.tailleboisson">
                    <app-menutailles [tailleboisson]="taille" ></app-menutailles>
                </ng-container>-->
             </div>
             <!-- <app-boissonmenu [menutai]="menutai"></app-boissonmenu>-->

              
              </ng-container>
          </div>
        
        </ng-container>
      </div>
  </div>
  </div>
  <h5 class="">Voici les complements disponible pour votre commande:</h5>      
  <div id="vbc" class="border border-2">
    <div  class="d-flex justify-content-around flex-wrap cs" >
      
        <!-- modifier la taille de la classe c -->
        <!--<ng-container *ngFor="let comp of details?.Taille">
            <ng-container *ngFor="let compe of details?.frite">-->
              <app-list *ngIf="(details?.frite) as portion" [Produitd]="portion"></app-list>

              <ng-container *ngFor="let taille of details?.Taillee">
                <app-taille [taille]="taille"></app-taille>
              </ng-container>
    </div>
  </div>
  
</div>
</ng-container>
