.container{
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.24);
    margin-top: 2%;

}
.img{
    height: 4%;
}
.im{
    height: 4%;
    width: 10%;
}

i{
    
    color: #E4B028;
}
.btne{
    width: 100%;
    display: flex;
    justify-content: center;
}
#image{
    width: 60%;
    height:70%;
}
#df input{
    width: 4em;
    margin-right: 0%;
}
#df button{
    width: 2em;
    margin: 4px;
    border: none;
    height: 2em;
}
.df{
    margin-left: 20%;
    color: rgb(12, 12, 12);
    font-weight: bolder;
}
.cs{
    width: 100%;
    height:20em;
   /* justify-content: center; */
    overflow-y: scroll;
}
.c{
    width: 20%;
    height:20em;
   justify-content: center;
    overflow-y: scroll;
}
.taille{
    height: 5em;
    text-align: center;
    border-radius: 2em;
    width: 10em;
    border: solid 2px black;

}
.cc{
    width: 50em;
    height:20em;
    
    margin-bottom: 2%;
   /* justify-content: center; */
    overflow-y: scroll;
}
/* #cvd{
    align-items: center;
    width: 80%;
    height:70%;
} */
#cvdy{

 align-items: center;
    width: 20%;
    height:70%;
}
#cvc{
    align-items: center;
    width: 40%;
    height:40%;
}
#cvde{
    
    width: 98%;
    height:40%;
}
#vb{
    width: 60%;
    height: auto;
}
#df input{
    width: 3em;
    margin-right: 0%;
}
#df button{
    width: 2em;
    height: 2em;
}
.titre{
    width: 20%;
}
#vbc{
    width: 100%;
    height: 100%;
}
.gb{
    background-color: rgb(209, 213, 216);
}

