<ng-container *ngFor="let item of menuburger">
<div id="cvde" class="card m-2 "  >
    <table class="table table-striped ">
        <thead>
          <tr>

            <th scope="col">Image</th>
            <th scope="col">NomProduit</th>
            <th scope="col">Quantite</th>
            <th scope="col">Prix </th>
           
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            
            <th class="border border-right-3 d-flex justify-content-center" scope="row text-center"><img class="  " style="height: 4em; width:3em" src="data:image/png;base64,{{item.burger?.image}}" alt=""></th>
            <td >{{item.burger?.nom}}</td>
            <td>   
                    <div id="df" class="def-number-input number-input safari_only">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus ">-</button>
                      <input  class="quantity text-center" min="{{item.quentity}}" name="quantity" value="{{item.quentity}}" max="{{item.quentity}}" type="number">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
                  </div>
            </td>
            <td>{{item.burger?.prix}} FCFA</td>
            
            <td> <a class="text-decoration-none" href="">Details</a> </td>
          </tr>
          <tr>
                                
        </tbody>
    </table>
    <!--<img id="image"  src="assets/img/sprite.png" class="card-img-top" alt="...">--> 
  </div>
  </ng-container>