<div class="container d-flex mt-3 border border-3">
    
    <div class="card m-2" style="width: 12rem">
        <button class="btn ">+</button>
        <img src="assets/img/pressea-fresh-tropical-gm-removebg-preview.png" class="card-img-top" alt="...">
      </div>
      <div class="card m-2" style="width: 12rem">
        <button class="btn ">+</button>
        <img src="assets/img/sprite_1.5_ltr-removebg-preview.png" class="card-img-top" alt="...">
      </div>
      <div class="card m-2" style="width: 12rem">
        <button class="btn ">+</button>
        <img src="assets/img/une-canette-de-boisson-gazeuse-soda-fanta-orange-photographie-sur-un-fond-blanc-ky4xn3-removebg-preview.png" class="card-img-top" alt="...">
      </div>
      <div class="card m-2" style="width: 12rem">
        <button class="btn ">+</button>
        <img src="assets/img/téléchargement (1).jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card m-2" style="width: 12rem">
        <button class="btn ">+</button>
        <img src="assets/img/téléchargement (1).jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card m-2" style="width: 12rem">
        <button class="btn ">+</button>
        <img src="assets/img/téléchargement (1).jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card m-2" style="width: 12rem">
        <button class="btn ">+</button>
        <img src="assets/img/sprite.png" class="card-img-top" alt="...">
      </div>
      
</div>
