

  <h3 class="text-center mt-3">Ajouter Burger</h3>
<div class="container mt-4 ">
    <div class="col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-header text-center"><h3>Authentification</h3></div>
            <div class="card-body">
                <form >
                    <div class="mb-4">
                        <label class="form-label text-success h4">Nom Burger</label>
                        <input type="text" formControlName="nom" placeholder="entrer le nom du burger" class="form-control ">
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-success h4">Prix Burger</label>
                        <input type="number" formControlName="prenom"placeholder="entrer le prix du burger" class="form-control ">
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-success h4">Image</label>
                        <input type="file" formControlName="login"placeholder="enter votre login" class="form-control ">
                    </div>
                    <div class="mb-4 d-flex">
                        <label class="form-label text-success h4">Description</label>
                       <textarea name="" id="" cols="40" rows="10"></textarea>
                    </div>
                    <div class="d-flex justify-content-around">
                    <button style="Width:10em;font-size:1.5em"  class="h2 btn btn-primary  mb-3  " type="submit">Enregistrer </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
