<div class="container mt-5 pt-3 pb-2 border berder-2 ">
    <div class="card " style="width: 18rem;">
        <img src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="border border-2 ">
            <div class="d-flex justify-content-around">
                <p class="card-text"><a href="" >Commander</a></p>
                <p class="card-text"><a href="" >Détails</a></p>
            </div>
                <p>Description</p> 
           </div>
        </div>
    </div>
</div>