<header >
    <div class="header1">
        <div class=" my-2">
            <input type="text" placeholder="Recherche">
        </div>
        <div class="catalogue">
            <select name="" id="selectt">
                <option  value=""disabled >filter</option>
                <option value="">Burger</option>
                <option value="">Menu</option>
            </select>
        </div>
    </div>
</header>
<app-publicite></app-publicite>
<div  class="container mt-3  d-flex flex-wrap">
    
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    <app-card></app-card>
                    

</div>

















