input{
    width: 20em;
    height: 2.5em;
    text-align: center;
   border-radius: 2em;
}
.header1{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(168, 148, 142);
}
#selectt{
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 1.5em;
    border-radius: 2em;
    text-align: center;

}
.catalogue{
    display: flex;
   /* text-align: center; */
   align-items: center;
   /* justify-content: center; */
    /* background-color: aqua; */
    width: 20em;
    height: 3em;
}



