.container1{
    background-image: url();
    height: 15em; 
}
.annonce{
    
    background-color: aqua;
}
.jumbotron{
    /* background-image: url(/assets/img/b6.png); */
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron::after{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}