<div class="container mt-4 ">
    <div class="col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-header text-center"><h3>Authentification</h3></div>
            <div class="card-body">
                <form [formGroup]="userFormGroup" (ngSubmit)="handerlogin()">
                    <div class="mb-4">
                        <label class="form-label text-success h4">Login</label>
                        <input type="text" formControlName="login" placeholder="enter votre login" class="form-control ">
                        <span class="text-danger" *ngIf="login && login.invalid && login.touched">Saisie incorrecte !!! </span>
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-success h4">Password</label>
                        <input type="password" formControlName="password"placeholder="enter votre password" class="form-control ">
                        <span class="text-danger" *ngIf="password && password.invalid && password.touched">Saisie incorrecte !!!</span>
                    </div>
                    <button  class="h5 btn btn-primary  mb-3  " type="submit">Connexion</button>
                </form>
            </div>
        </div>
    </div>
</div>
