<div class="cardcentre">
    <a href="#!"><img class="card-img-top" src="assets/img/b6.png" alt="..." /></a>
    <div class="text-center"> <h2>Burger simple</h2></div>
    <div id="card" class="card-body">
        <div class="small text-muted d-flex justify-content-between" >
            <a class="text-decoration-none btn btn-primary" href=""> <h2 class="card-title h4">Commander</h2></a>
            <a class="text-decoration-none btn btn-primary" href=""> <h2 class="card-title h4">Détails</h2></a>
           
        </div>
        <div class="text-center mt-2">
           <a href="" class="text-decoration-none btn"> <h3>Ajouter</h3> </a>
        </div>
        <h4>Desc : ....</h4>
    </div>
</div>
