<div class="cardcentre ">
    <a href="#!"><img style="height: 15em;" class="card-img-top" [src]="post?.image" alt="..." /></a>
    <div class="text-center"> <h2>{{post?.titre }}</h2></div>
    <div id="card" class="card-body">
        <div class="small text-muted d-flex justify-content-between" >
            <a class="text-decoration-none btn btn-primary" href=""> <h2 class="card-title h5">Commander</h2></a>
            <a class="text-decoration-none btn btn-primary h-25" routerLink="/moduleclient/details/{{post?.id}}"><h2 class="card-title h4">Détails</h2></a>
           
        </div>
        <div class="text-center mt-2">
           <a href="" class="text-decoration-none btn"> <h3>Ajouter</h3></a>
        </div>
        <h4>Desc : {{post?.description|slice:0:10}}</h4>
    </div>
</div>
