.container{
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.24);
    margin-top: 2%;

}
.img{
    height: 4%;
}
.im{
    height: 4%;
    width: 10%;
}
i{
    color: #E4B028;
}
.btne{
    width: 100%;
    display: flex;
    justify-content: center;
}
#image{
    width: 60%;
    height:70%;
}
.df{
    margin-left: 20%;
    color: white;
    font-weight: bolder;
}
.cs{
    width: 100%;
    height:20em;
   justify-content: center;
    overflow-y: scroll;
}
.c{
    width: 20%;
    height:15em;
   justify-content: center;
    overflow-y: scroll;
}
.cc{
    width: 30em;
    height:15em;
    margin-left: 40%;
    margin-bottom: 2%;
   
    overflow-y: scroll;
}
#cvd{
    align-items: center;
    width: 80%;
    height:70%;
}#cvc{
    align-items: center;
    width: 40%;
    height:40%;
}
#cvde{
    
    width: 98%;
    height:40%;
}
#vb{
    width: 100%;
    
}
#df input{
    width: 3em;
    margin-right: 0%;
}
#df button{
    width: 2em;
    height: 2em;
}
